/* Estilo de las letras */
.examplelabelborderradius {
    color: white;          /* Color de la letra en blanco */
    font-size: 20px;       /* Tamaño de la letra */
    position: relative;    /* Posición relativa para centrar verticalmente */
    top: 30%;              /* Mover al centro verticalmente */
}

div.exampleborderradiusa {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-radius: 0 0 50px 0; /* Borde inferior derecho redondeado pronunciado */
}

div.exampleborderradiusb {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-radius: 0 0 20px 0; /* Borde inferior derecho redondeado menos pronunciado */
}

div.exampleborderradiusc {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-radius: 0 0 35px 0; /* Borde inferior derecho redondeado, intermedio entre A y B */
}

div.exampleborderradiusd {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    width: 12em;
    height: 5em;
    text-align: center;
    /* Bordes alargados en esquinas superior derecha e inferior izquierda */
    border-radius: 15px 60px 15px 60px;
}

div.exampleborderradiuse {
    background-color: #464646;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
    border-radius: 15px; /* Ligeramente redondeado en todas las esquinas */
}

div.exampleborderradiusf {
    float: left;
    background-color: #464646;
    margin-top: 20px;
    margin-right: 40px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%; /* Círculo completo */
}
